# Node
node_modules

# Package Manager
package-lock.json
yarn.lock
.yarnrc.yml
.yarn
pnpm-lock.yaml

# Cargo
/target

# Misc
.DS_Store

# Build
dist

# Publish (temp)
.npmignore
.github/workflows/publish.yml
