# Node
node_modules

# Package Manager
package-lock.json
yarn.lock
.yarnrc.yml
.yarn
pnpm-lock.yaml

# Cargo
/target

# Misc
.DS_Store

# Napi Build
index.cjs
index.d.ts
/*.node

# Ide
.idea

# Publish (temp)
.npmignore
.github/workflows/publish.yml
